/vendor/
/node_modules/
/public/hot
/public/storage
/public/build/
/storage/*.key
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/*
.env
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
*.log
ai-agents/venv/
ai-service/venv/
ai-service/venv/**
sim_tridharma_itsnu*
.kilo/
storage/pail/
**/__pycache__/
*.pyc
.idea/
.fleet/
.vscode/
