includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Providers/*.php
        - app/Http/Controllers/Auth/*.php
    tmpDir: storage/framework/cache/phpstan
